.item-desc{
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
    font-weight: 600;
}

.detalle-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.precio-detalle{
    font-size: larger;
    font-weight: 700;
}